
<div id="Exito" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="alineador">
                <div class="modal-body">

                    <img src="~/Images/Solicitud.png" />
                    <h1>¡Accion realizada correctamente!</h1>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Exito" data-dismiss="Cerrar">Cerrar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


