html {

    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    border-bottom: 0px !important;
}

body {



   background: url("../Images/Fondo_Inicio.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  min-height:100vh;
  padding-bottom:4em;
  padding-top:3em;
  position:relative;


}

.opacidad {
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    opacity: 0.3;
    top: 0;
    z-index: -1;
}


.superior {
    border-top-color:darkorange;
    border-top-width:10px;
}


.img-inicio {
    background: url("../Images/descarga_sin_fondo.png") no-repeat;
    background-size: cover;
    height:400px;
    width:400px;
    margin-left:auto;
    margin-right:auto;

    
}
.imagePreview {
    
}


div.img {

    top:100%;
}


.ventana {
    background: url("../Images/Fondo_Form.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    background-color: #8c7959;
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
    box-shadow: 10px 5px 50px #393328;
    margin: 15px;

    font-family:Arial, Helvetica, sans-serif;
    color:white;

}

.visualiza {

    display: flex;
    flex-flow: row wrap !important;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .visualiza div {
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }

.readonly {
    background-color: black;
    display: flex;
    flex-flow: row wrap !important;
    justify-content: space-around;
    flex-wrap: wrap;

    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
    box-shadow: 10px 5px 50px #393328;
    margin: 15px;
}
    .readonly div {
        border: 2px solid #dfe;
        padding: 10px;
        margin: 20px;
        margin-left:auto;
        margin-right:auto;
    }

    .readonly label {
        font-size: 1.4em;
        color: white;
        

    }



    .ventana h4 h2 {
        font-weight:bold;
        text-align:center;
        
    }

    .ventana a {

        color:greenyellow;
    }

    .inicio {
        text-transform:uppercase;
        font-size:15px;
        text-align:justify;
        width:500px;
        height:100%;
        margin-left:auto;
        margin-right:auto;    
        overflow:auto;
    }

.alineador {
    display:flex;
    align-items:center;
    justify-content:center;

}

.modal-body h1 {
    text-align:center;

}

.perfil {
    text-align: center;
    background-color: aliceblue;
    border-radius: 40% !important;
}

.captura {
    width: 50%;
    background-color: aqua;
    background: url("../Images/Fondo_Form.jpg") no-repeat center center fixed;
}

    .perfil img {
        border-radius: 50% !important;
    }

.fecha {
    width:150px;
}


.btn-default {

    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}


.tablas {
    background: url("../Images/Fondo_Form.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #8c7959;
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
    box-shadow: 10px 5px 50px #393328;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
    
}

    .tablas dd {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

.graficos {

    background-color:white;
}

.label-danger {
    font-size: 1em;
    border-radius:15px;
    display:block;
}


.footer {

    border-top-color: darkorange;
    border-top-style:solid;
    position:center;
    width:auto;
    height: 40px;
    color: white;
    background-color: #6e6e4a;
    text-align: center;
    padding: 10px;
    bottom: 0;


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}*/
