@model IEnumerable<AirsoftApp.Models.HomeViewModels>

@{
    ViewBag.Title = "Novedades";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            <p>Avatar</p>
        </th>
        <th>
            <p>Descripción Juego</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div id="imagePreview"><img width="50" src="@Url.Action("ConvertirImagenHome","Home",new { IdJuego = item.IdJuego})" /></div>
            <td>
                @Html.DisplayFor(modelItem => item.DescJuego)
            </td>
            <td>
                <a class="btn btn-danger" href="~/Escuadron/EliminarEscuadron/@item.IdJuego">Compartir</a>
                <a class="btn btn-danger" href="~/Escuadron/EliminarEscuadron/@item.IdJuego">Ver</a>
            </td>
        </tr>
    }

</table>

