
    <div class="img"><img src="~/Images/black_horse 400x400 sin fondo.png" /></div>
        <div class="box">
            
            <h1>Black Horse Chile</h1><p class="texto">
    <hr />
    El texto colocado aqui, es solo una referencia de lo que
    podria contemplar un texto real y por ende no necesariamente
    es del administrador de la pagina.
</p>
        </div>



        


    